<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>One Mile Circle</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700i,800" rel="stylesheet">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>


</head>
<body>
    <nav>
        <a>
            <img src="/static/img/logo.png" title="One Mile Circle" alt="One Mile Circle" /></a>
    </nav>
    <div class="home-content">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80205.39485368214!2d-114.08482533306297!3d51.082282004483766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537170039f843fd5%3A0x266d3bb1b652b63a!2sCalgary%2C+AB%2C+Canada!5e0!3m2!1sen!2seg!4v1483523258931" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
        <div class="item-list">

            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static//static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>
            <div class="item">

                <div class="thum">
                <img src="/static/img/dummy.jpg" />
                </div>
                <h3>Aliquam erat volutpat. Curabitur purus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <span class="pull-right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label>15</label>
                </span>
                <hr />
                <p class="action">

                    <a><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                    <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                </p>


            </div>

        
    </div>
    </div>
    <footer>
    </footer>

    

</body>
</html>
